<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add restaurant</title>
</head>
<body>
  <h1>Add a new restaurant</h1>

  <%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :category %>
  <%= f.submit %>
<% end %>

  <%= link_to "Back to homepage", restaurants_path, class: "btn btn-primary"%>
</body>
</html>
